@font-face {
    font-family: 'Ljfloral';
    src: url('fonts/subset-Ljfloral-Regular.eot');
    src: url('fonts/subset-Ljfloral-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Ljfloral-Regular.woff2') format('woff2'),
        url('fonts/subset-Ljfloral-Regular.woff') format('woff'),
        url('fonts/subset-Ljfloral-Regular.ttf') format('truetype'),
        url('fonts/subset-Ljfloral-Regular.svg#Ljfloral-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.eot');
    src: url('fonts/PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PressStart2P-Regular.woff2') format('woff2'),
        url('fonts/PressStart2P-Regular.woff') format('woff'),
        url('fonts/PressStart2P-Regular.ttf') format('truetype'),
        url('fonts/PressStart2P-Regular.svg#PressStart2P-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Press Start 2P', sans-serif;
}

header, footer {
    background: #106836;
    text-align: center;
    padding: 5px;
    color: white;
}

footer {
    font-size: 5px;
}

nav {
    margin: 0px;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    width: 10%;
}

a {
    color: white;
    text-decoration: none;
}

i {
    font-size: 20px;
}

main {
    background-image: url('../images/spring-field-background.jpg');
    background-position: 0 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main > * {
    padding: 10px;
}

header h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 12;
    font-size: 50px;
    margin:10px;
    padding:0;
    color: white
}

.player {
    width: 170px;
    height: 300px;
    background-color: rgba(255, 251, 244, 0.704);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    align-items: center;
    padding: 5px 10px;
    border: 5px solid rgba(253, 250, 159, 1);
}

form {
    grid-area: 2 / 1;
    z-index: 2;
    text-align: center;
}

.stats {
    grid-area: 2 / 1;
}

.player-name, h3 {
    grid-area: 1 / 1;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
}

.game {
    justify-content: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    align-items: center;
    justify-items: center;
    height: 400px;
}

h2 {
    margin: 10px 0;
    text-align: center;
    background: white;
}

.game-board {
    background-color: white;
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;    
    padding: 0.25rem;
    border-radius: 40px;
    border-radius: 4px;

    min-width: 300px;
    min-height: 300px;
    max-height: 80vh; 
    grid-area: 1 / 1;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.game-square {
    background-image: url('../images/garden-square.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    font-family: 'Ljfloral', sans-serif;
    font-size: 90px;
    color: white;
}

.reset {
    background-color: rgba(255, 251, 244, 0.704);
    border: 5px solid rgba(253, 250, 159, 1);
    position: relative;
    z-index: 3;
    width: 200px;
    height: 200px;
    grid-area: 1 / 1;
    text-align: center;
}

.reset-button {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background-color: #333;
    padding: 1rem 2rem;
    margin: 2rem 0 0 0;
    position: relative;
    z-index: 4;
    text-align: center;
}

.hidden, .hidden * {
    opacity: 0;
    z-index:1;
}

@media screen and (max-width: 770px) {
    main {
        flex-direction: column;
    }

    .game {
        width: 100%;
        max-width: 300px;
        max-height: 300px;
    }

    .player {
        display: grid;
        grid-template-rows: 150px;;
        grid-template-columns: 1fr 5fr 1fr;
        align-items: center;
        padding: 5px 10px;
        height: 150px;
        width: 300px;
    }

    form {
        grid-area: 1 / 2;
    }

    form input {
        display: inline;
    }
    
    .stats {
        grid-area: 1 / 2;
    }
    
}