@font-face {
    font-family: 'Ljfloral';
    src: url('fonts/subset-Ljfloral-Regular.eot');
    src: url('fonts/subset-Ljfloral-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-Ljfloral-Regular.woff2') format('woff2'),
        url('fonts/subset-Ljfloral-Regular.woff') format('woff'),
        url('fonts/subset-Ljfloral-Regular.ttf') format('truetype'),
        url('fonts/subset-Ljfloral-Regular.svg#Ljfloral-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.eot');
    src: url('fonts/PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/PressStart2P-Regular.woff2') format('woff2'),
        url('fonts/PressStart2P-Regular.woff') format('woff'),
        url('fonts/PressStart2P-Regular.ttf') format('truetype'),
        url('fonts/PressStart2P-Regular.svg#PressStart2P-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Press Start 2P', sans-serif;
}

header, footer {
    background: #106836;
    text-align: center;
    padding: 5px;
    color: white;
}

footer {
    font-size: 8px;
}

nav {
    margin: 0px;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    width: 15%;
}

a {
    color: white;
    text-decoration: none;
}

i {
    font-size: 20px;
}

main {
    background-image: url('../images/spring-field-background.jpg');
    background-position: 0 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-weight: 12;
    font-size: 50px;
    margin: 10px;
    padding: 0;
    color: white
}

.player {
    width: 170px;
    height: 300px;
    background-color: rgba(254, 253, 232, 0.704);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    align-items: center;
    padding: 0 10px;
    border: 5px solid rgba(253, 250, 159, 1);
    line-height: 18px;
    border-radius: 5px;
}

.turn {
    animation: flash 0.8s infinite;
}
      
@keyframes flash {
0% {
    color: #106836;
}
50% {
    color: #106836;
}
50.01% {
    color: #fa9752;
}
100% {
    color: #fa9752;
}
}


form {
    grid-area: 2 / 1;
    z-index: 2;
    text-align: center;
}

.player-form label[for="single"],
.player-form label[for="two"] {
    font-size: 12px;
}

input[type="text"] {
    border-radius: 5px;
    margin-top: 5px;
}

.stats {
    grid-area: 2 / 1;
}

.player-name, h3 {
    grid-area: 1 / 1;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    background: none;
}

.player-name {
    line-height: 30px;
}

.game {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    height: 300px;
    padding: 0;
    border-radius: 5px;
    border: 5px solid rgba(253, 250, 159, 1);

}

h2 {
    margin: 10px 0;
    text-align: center;
    background: white;
}

.game-board {
    background-color: rgba(253, 250, 159, 1);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;    

    width: 300px;
    height: 300px;
    grid-area: 1 / 1;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.game-square {
    background-image: url('../images/garden-square.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    font-family: 'Ljfloral', sans-serif;
    font-size: 88px;
    color: white;
}

.reset {
    background-color: rgba(255, 251, 244, 0.804);
    border: 5px solid #106836;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    width: 220px;
    height: 220px;
    grid-area: 1 / 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    text-decoration: none;
    color: #fff;
    background-color: #106836;
    border-radius: 5px;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
}

.reset-button {
    position: relative;
    font-size: 15px;
    z-index: 4;
    padding: 10px;
}

form button {
    font-size: 12px;
    padding: 3px;
    margin: 5px;
}

.hidden, .hidden * {
    opacity: 0;
    z-index:1;
}

@media screen and (max-width: 770px) {
    body {
        height: 100vh;
    }
    
    main {
        flex-direction: column;
    }

    li {
        font-size: 10px;
    }

    h1 {
        font-size: 30px;
    }

    .player {
        display: grid;
        grid-template-rows: 150px;
        grid-template-columns: 1fr 5fr 1fr;
        align-items: center;
        padding: 5px 0;
        height: 150px;
        width: 300px;
        margin: 5px;
        font-size: 10px;
        line-height: 14px;
    }

    form {
        grid-area: 1 / 2;
        font-size: 14px;
    }
    
    .stats {
        grid-area: 1 / 2;
    }

    .player-form label[for="single"],
    .player-form label[for="two"] {
        font-size: 10px;
        margin-top: 0;
}
    
}